---
import Layout from "../layouts/Layout.astro";
import Editor from '../components/Editor.astro'
import Link from '../icons/Link.astro'
---

<Layout>
  <article>
    <header>
      <h3>
        AppHub
      </h3>
      <div class="buttons">
        <button>
          <Link />
        </button>
      </div>
    </header>
    <div class="split">
      <div id="split-0">
        <Editor />
      </div>
      <div id="split-1">
        Preview
      </div>
    </div>
  </article>

  <script>
    import Split from "split.js";


    let split = Split(["#split-0", "#split-1"], {
      minSize: 10,
      gutterSize: 10,
      snapOffset: 0,
      direction: "vertical"
    });
  </script>

  <style is:global>
    article {
      width: 100%;
      height: 100dvh;
      padding: 0;
      display: grid;
      grid-template-rows: auto 1fr;
      overflow: hidden;
    }

    article header {
      padding: 0.5rem;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    article header h3 {
      margin: 0;
    }

    article header .buttons button {
      padding: .5rem;
    }

    .split {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    #split-0 {
      width: 100vw;
    }

    .gutter {
      background-color: #eee;
      background-repeat: no-repeat;
      background-position: 50%;
    }

    .gutter.gutter-horizontal {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
      cursor: col-resize;
    }
  </style>
</Layout>
