---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div id="editor"></div>

  <script>
    import { basicSetup } from "codemirror"
    import { EditorView, keymap } from "@codemirror/view"
    import { html } from "@codemirror/lang-html"
    import { expandAbbreviation, abbreviationTracker  } from '@emmetio/codemirror6-plugin';

    const view = new EditorView({
      doc: "Start document",
      parent: document.querySelector("#editor"),
      extensions: [basicSetup, html(), abbreviationTracker()]
    })
  </script>

  <style>
    :global(.cm-editor, #editor) {
      height: 100dvh;
    }
  </style>
</Layout>

