---
import { actions } from "astro:actions";
import { Icon } from 'astro-icon/components'
import Layout from "../layouts/Layout.astro";
const { data, error } = await Astro.callAction(actions.getAllBins, {});
if (error) console.log(error);
---

<Layout>
  <nav>
    <ul>
      <li><h3>AppBin</h3></li>
    </ul>
    <ul>
      <li><a href="/editor"><button><Icon name="new" size="1.5rem" /></button></a></li>
    </ul>
  </nav>

  <div class="bins-container">
     {
    data?.map((bin) => {
      return (
        <article>
          <a href={Astro.url.origin + "/bin/" + bin.id} class="contrast">
            <img
            src={`https://v1.screenshot.11ty.dev/${Astro.url.origin + "/bin/" + bin.id}/opengraph/`}
            alt=""
          />
          <footer>
            {bin.title}
          </footer>
          </a>
        </article>
      );
    })
  }
  </div>
 

  <style>
    nav {
      padding: 1rem;
    }

    nav h3 {
      margin: 0;
    }

    .bins-container {
    padding: 10px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
      gap: 8px;
    }

    article a {
      text-decoration: none;
    }
  </style>
</Layout>
