---
export const prerender = false;
import { actions } from "astro:actions";
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import BinsCard from '../components/BinsCard.svelte'


const { data, error } = await Astro.callAction(actions.getAllBins, {});
if (error) console.log(error);
---

<Layout>
  <nav>
    <ul>
      <li><h3>AppBin</h3></li>
    </ul>
    <ul>
      <li>
        <a role="button" href="/editor"><Icon name="new" size="1.5rem" /></a>
      </li>
    </ul>
  </nav>

  <div class="bins-container">
    {
      data?.map((bin) => <BinsCard id={bin.id} title={bin.title} origin={Astro.url.origin} client:load />)
    }
  </div>

  <style lang="scss">
    nav {
      padding: 0 1rem;
    }

    nav h3 {
      margin: 0;
    }

    .bins-container {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
      gap: 8px;
    }
  </style>
</Layout>
