<dialog>
  <article>
    <header>
      <button aria-label="Close" rel="prev"></button>
      <p>
        <strong>Solo fata un paso! {Astro.url.origin}</strong>
      </p>
    </header>
    <form>
      <fieldset role="group">
        <input type="text" name="title" id="title">
        <input type="submit" value="E">
      </fieldset>
    </form>
    <footer>
      <fieldset role="group">
        <input type="text" name="link" id="link">
        <button disabled>C</button>
      </fieldset>
    </footer>
  </article>
</dialog>

<script>
  import { $showModal, $editorContent } from '../store/store.ts'
  import { actions } from 'astro:actions'

  const modal = document.querySelector("dialog")
  const closeModalBtn = document.querySelector('[rel="prev"]')
  const form = document.querySelector("form")

  let result

  $showModal.subscribe(showModal => {
    if (showModal === false) {
      modal?.close()
    } else {
      modal?.showModal()
    }
  })

  closeModalBtn?.addEventListener("click", () => $showModal.set(false))
  form?.addEventListener("submit", async (e) => {
    e.preventDefault()
    const title = form.querySelector("input")?.value || ''
    const code = $editorContent.get()

    try {
      const { data, error } = await actions.createNewBin({ title, code})
      const inputResult = modal?.querySelector("footer input")
      inputResult.value = data[0].id
      result = data
    } catch (err) {
      console.log(err)
    }

  })
  </script>
