<div id="editor"></div>

<script>
  import { basicSetup } from "codemirror";
  import { EditorView, placeholder } from "@codemirror/view";
  import { html } from "@codemirror/lang-html";
  import {
    expandAbbreviation,
    abbreviationTracker,
  } from "@emmetio/codemirror6-plugin";
  import { $editorContent } from '../store/store.ts'

  const view = new EditorView({
    parent: document.querySelector("#editor") as HTMLElement,
    extensions: [basicSetup, html(), abbreviationTracker(), placeholder("Ingresa tu codigo!"), EditorView.updateListener.of(e => {
      if(e.docChanged){
        $editorContent.set(e.state.doc.toString())
      }
    })],
  });
</script>

<style is:global>
  .cm-editor, #editor {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
</style>